body {
    background: rgb(93, 93, 241);
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

/*HOME*/

h1 {
    font-size: 35px;
    text-align: center;
    color: red;
}

p {
    text-align: center;
    font-size: 25px;
    color: black;
}

#foto1 {
    width: 100%;
    height: 350px;
}

strong {
    font-size: 25px;
    color: rgb(0, 225, 255);
}

#foto2 {
    width: 350px;
}